@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: 'Sintony', sans-serif;
}

#technologies {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

footer {
  font-size: .75em;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 1px black solid;
  border-radius: 5px;
  width: 500px;
  margin: 20 auto;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20 auto;
  width: 500px;
  padding: 20px;
}

 #navLinks {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

#navLinks li {
  display: block;
  float: left;
  padding: 10px 10px;
}

img {
  height: 200px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-footer a {
  margin: 10px
}
  
h2, h3, h4, a {
 text-align: center
}

#navLinks a {
  padding: 20px;
}
