@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import 'variables';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  position: absolute;
}

.fancy {
  overflow: hidden;
  text-align: center;
}
.fancy span {
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  $linesHeight: 10px;
  content: "";
  position: absolute;
  border-bottom: 2px solid $border-color;
  border-top: 2px solid $border-color;
  // border-bottom: 2px solid rgb(27, 130, 128);
  // border-top: 2px solid rgb(27, 130, 128);
  width: 300px;
  height: $linesHeight;
  top: 50%;
  margin-top: floor(-$linesHeight / 2);
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
    a {
      color: black
    }
    a:hover {
      background-color: rgb(45, 45, 45);
      text-decoration: none;
      color: white;
    }
}

.fullPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  margin: 20 auto;
  padding: 20px;
  background-color: white;
  max-width: 1000px;
}

.topPage {
  background-color: rgba(95, 102, 105, 0.8);
  display: inline-block;
  width: 100%;
  height: 500px;
  overflow: auto;
}

.page-footer a {
  padding: 10px;
  line-height: 30px;
  font-weight: 700;
}
  
h2, h3, h4, a, p, h5 {
 text-align: center
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 10 auto;
  // background-color: rgb(45, 45, 45);
}

 #navLinks {
  font-weight: 700;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    display: block;
    float: left;
    // padding: 10px 10px;
  }
}

#navLinks a {
  font-weight: bold;
  padding: 20px;
  line-height: 50px;
  color: black
}

#navlinks a:hover {
  background-color: rgb(45, 45, 45);
  text-decoration: none;
  color: white;
}

#bioPage {
  font-size: 30px;
  justify-content: center;
}

#technologies {
  font-size: 30px;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  text-align: center;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 50px;
}

#techHeader {
  padding: 30px;
  background-color: rgb(45, 45, 45);
}

#techBorder {
  padding: 30px;
  border-bottom: 2px solid rgb(27, 130, 128);
}

#technologiesPage {
  background-color: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}



header {
  padding: 20px;
  padding-bottom: 0;
  font-size: 40px;
  // color: rgb(56, 231, 228);
  color: white;
  font-family: $header-font;
}

.projectsSection {

    h3 {
      font-size: 1.2em;
    }

}

#projectsPage {
    background-image: url('../../images/projectsbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    h3 {
      padding: 20px;
    }
    img {
      max-width: 100%;
    }
    header {
      padding: 20px;
      color: black;
    }
    a {
      color: black;
    }
}

.github, .postman {
  width: 96px;
}

.jquery, .django, .github {
  filter: invert(1);
}

.projectsPage {
  padding: 30px;
    p {
      font-size: 1em;
  }
}

.header-text {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.bio {
  width: 100%;
}

.bio-text {
  padding: 20px;
  padding-top: 40px;
  margin-left: 30px;
  font-size: 1.5em;
  color: white;
}

.profile {
  margin-top: 20px;
  padding-right: 30px;
}

.bio-row {
  background-color: rgb(45, 45, 45);
  padding-bottom: 50px;
  margin-right: 0;
}

.top-photo {
  height: 100vh;
  background-image: url('../../images/headerphoto.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-shadow: 1px 1px 0 rgb(223, 227, 229), 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-text p {
  font-family: 'Unica One', 'cursive';
  color: white;
  margin-bottom: 0;
  font-size: 100px;
}

.typed {
  font-family: 'Montserrat', sans-serif;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  font-size: 44px;
  max-width: 1008px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75px;
  // text-transform: uppercase;
}

.typed {

  border-right: .1em solid rgba(255,255,255,1);
  animation: animated-text 3.5s steps(29, end),
  animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
  // to{width: 1020px;}
}
/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(255, 255, 255,1);}
  to{border-right-color: transparent;}
}

.cardRow {
  margin-right: 0;
}
