@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

body {
  font-family: 'Sintony', sans-serif;
  position: absolute;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.top-photo {
  height: 100vh;
  background-image: url('../../images/burst.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#technologies {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

footer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 102, 105, 0.8);
  color: white;
    a:hover {
      color: white;
    }
}

.fullPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  margin: 20 auto;
  padding: 20px;
  background-color: white;
  max-width: 1000px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 10 auto;
  padding: 10px;
  background-color: rgb(45, 45, 45);
}

 #navLinks {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    display: block;
    float: left;
    // padding: 10px 10px;
  }
}

#hello img {
  height: 500px;
  float: right;
  padding: none;
  margin-right: 20%;
}

h3.hello {
  font-family: 'Marmelad', sans-serif;
  color: rgb(56, 231, 228);
  font-size: 3.5em;
  margin-left: 48px;
  margin-top: 50px;
}

p.title {
  color: white;
  font-family: 'Marmelad', sans-serif;
  margin-left: 4em;
  font-size: 1.3em;
}

p.jeanine {
  font-family: 'Marmelad', sans-serif;
  color: white;
  font-size: 120px;
  line-height: 1em;
  margin-left: .5em;
  padding: none;
}

.topPage {
  background-color: rgba(95, 102, 105, 0.8);
  display: inline-block;
  width: 100%;
  height: 500px;
  overflow: auto;
}

.page-footer a {
  margin: 10px
}
  
h2, h3, h4, a, p {
 text-align: center
}

a {
  color: rgb(56, 231, 228);
}

#navLinks a {
  padding: 20px;
  color: white;
  // border: 2px solid white;
  // background-color: rgba(95, 102, 105, 0.8);
}

#navlinks a:hover {
  color: white;
}

#bioPage {
  font-size: 30px;
  justify-content: center;
}

#technologiesPage {
  font-size: 30px;
}

header {
  padding: 20px;
  padding-bottom: 0;
  font-size: 40px;
  // color: rgb(56, 231, 228);
  color: white;
  font-family: 'Marmelad', sans-serif;
}

.projectsSection {
  background-color: rgb(45, 45, 45);
  color: white;
    h3 {
      font-size: 1.2em;
    }
    a {
      color: white;
    }
}

#projectsPage {
    h3 {
      padding: 20px;
    }
    img {
      max-width: 100%;
    }
    header {
      padding: 0;
      margin-left: 30px;
    }

}

.projectsPage {
  padding: 30px;
    p {
      font-size: 1em;
  }
}

.header-text {
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}

.header-text p {
  font-family: 'Marmelad', sans-serif;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.3);
  border-right: .15em solid white;
  font-size: 100px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
.header-text p:nth-child(1) {
  width: 5em;
  -webkit-animation: type 2s steps(29, end);
  animation: type 2s steps(29, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
}

.header-text p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(29, end);
  animation: type2 2s steps(29, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
}


@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .01em solid white;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .01em solid white;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .01em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .01em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.subtitle h5 { 
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  color: white;
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

.bio {
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.bio-text {
  padding-top: 40px;
  margin-left: 30px;
  font-size: 1.5em;
  border-top: 2px solid rgb(27, 130, 128);
  color: white;
}

.profile {
  // max-width: 50%;
  // max-height: 50%;
  margin-top: 20px;
  padding-right: 30px;
  
}

.bio-row {
  background-color: rgb(45, 45, 45);
  padding-bottom: 50px;
}
